.game__status__container, .game__automaps__container, .game__archives__container{
  margin: 0px;
  padding: 0px;
  width: inherit;
  height: inherit;
  border-width: inherit;
  border-style:inherit;
  border-radius: inherit;
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #161105;
}

.game__automaps__container, .game__archives__container {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.game__info__header {
  font-size: 40px;
  font-family:'Franklin Gothic Medium';
  height: 50px;
  margin: 0px;
  color: rgb(207,150,55);
  justify-content: center;
  align-items: center;
}

.game__info__text {
  font-size: 25px;
  font-family:'Franklin Gothic Medium';
  color: rgb(207,150,55);
}

.fa-gears {
  font-size: 60px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  color: rgb(207,150,55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid {
  display: flex;
}

.volume__settings__form{
  width: 500px;
  height: 100px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-color: rgb(207,150,55);
  border-width: 5px;
  border-radius: 10px;
  padding-top: 20px;
}

#music__volume__settings, #sounds__volume__settings {
  width: 400px;
  cursor: pointer;
}
#music__volume__settings:focus, #sounds__volume__settings:focus{
  outline: 0;
}

input[type="range"]{
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none; 
  appearance: none;
  height: 10px;
  color: rgb(207,150,55);
  border-style: hidden;
  border-radius: 15px;
  border-width: 1px;
  background-color: darkslategray;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 24px;
  margin-top: -7px;
  background-color: rgb(207,150,55);
  border-radius: 2px;
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.50);
}

#game__automaps__header{
  width:770px;
  height:110px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#game__automaps__settings{
  width: 974px;
  height: 660px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#game__status__list{
  width: 487px;
  height: 770px;
  display: flex;
  padding-left: 70px;
  padding-top: 50px;
}

#game__status__image{
  width: 477px;
  height: 760px;
  border-width: inherit;
  border-style:inherit;
  border-radius: inherit;
}